# Core Django stack
Django==4.2
gunicorn
whitenoise

# Payment and Email SDKs
stripe
sib-api-v3-sdk
python-dotenv
reportlab
yfinance

# Google AI SDK
google-generativeai>=0.3.1

# Data science / visualization
altair==5.5.0
numpy==2.2.6
pandas==2.3.0
pyarrow==20.0.0
openpyxl==3.1.5
pillow==11.2.1
pydeck==0.9.1

# Streamlit and dependencies
streamlit==1.45.1
blinker==1.9.0
cachetools==5.5.2
click==8.2.1
protobuf==6.31.1
tornado==6.5.1
watchdog==6.0.0
tenacity==9.1.2
toml==0.10.2

# Formatting, schema & display
attrs==25.3.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
referencing==0.36.2
markdown-it-py==3.0.0
mdurl==0.1.2
MarkupSafe==3.0.2
Pygments==2.19.1
rich==14.0.0
roman==5.0
colorama==0.4.6

# System utils
typing_extensions==4.14.0
shellingham==1.5.4
regex==2024.11.6
smmap==5.0.2
gitdb==4.0.12
GitPython==3.1.44
packaging==24.2
idna==3.10
charset-normalizer==3.4.2
urllib3==2.4.0
certifi==2025.4.26
python-dateutil==2.9.0.post0
tzdata==2025.2

# Others
et_xmlfile==2.0.0
indic-transliteration==2.3.69
backports.functools-lru-cache==2.0.0
narwhals==1.42.0
typer==0.16.0
