altair
attrs
backports.functools-lru-cache
blinker
cachetools
certifi
charset-normalizer
click
colorama
Django
et_xmlfile
gitdb
GitPython
google-generativeai
idna
indic-transliteration
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-dotenv
pytz
referencing
regex
reportlab
requests
rich
roman
rpds-py
shellingham
sib-api-v3-sdk
six
smmap
streamlit
stripe
tenacity
toml
tornado
typer
typing_extensions
tzdata
urllib3
watchdog
whitenoise
yfinance
gunicorn
