{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Arona Bank{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body class="background-image d-flex flex-column min-vh-100">
  <div class="overlay"></div>

  <div class="dashboard-header-wrapper position-relative text-center">
    <img src="{% static 'images/logo.jpeg' %}" alt="Logo" class="bank-logo-absolute">
    <div class="dashboard-header">Secure Fund</div>
    <div class="dashboard-subheader">Where Finance meets top tier Technology</div>
  </div>

  <div class="container-fluid px-0 flex-grow-1">
    {% block content %}{% endblock %}
  </div>

  <footer class="mt-auto text-center mb-3 text-muted">
    © 2025 Arona. Financial Technology at its finest.
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
